@use "@/styles/global.scss";
@use "@/styles/vars.scss" as vars;
@use "@/styles/mixins.scss" as mixins;

.wrapper {
    min-height: 100vh;
    max-height: 100vh;
    padding: mixins.scale(10) 0;
    display: flex;
    flex-direction: column;

    .container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__content {
        max-height: calc(100vh - mixins.scale(20));
        flex-grow: 1;
        background-color: rgba(vars.$light-gray-2, .4);
        border-radius: mixins.scale(10);
        padding: mixins.scale(10);
        gap: mixins.scale(8);
        display: flex;
        flex-direction: column;
    }

    &__header {
        background-color: vars.$light-gray-1;
        border-radius: mixins.scale(10);
        padding: mixins.scale(10);
    }

    &__main {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: auto;
        position: relative;

        &-content {
            height: max-content;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            background-color: vars.$light-gray-1;
            border-radius: 0 mixins.scale(10) mixins.scale(10) 0;
        }
    }

    &__cells {
        width: max-content;
        flex-grow: 1;
        display: flex;

        &-row {
            display: flex;
            flex-direction: column;
            height: max-content;
            gap: mixins.scale(5);

            &:not(:last-child) {
                border-right: mixins.scale(-1) solid vars.$light-gray-2;
            }
        }

        &-row:first-child &-letter {
            border-radius: mixins.scale(10) 0 0 mixins.scale(10);
            // временное решение
            margin-left: mixins.scale(30);
        }

        &-row:last-child &-letter {
            border-radius: 0 mixins.scale(10) mixins.scale(10) 0;
        }

        &-row:not(:last-child) &-letter {
            border-right: mixins.scale(1) solid vars.$light-gray-2;
        }
        
        &-letter {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: mixins.scale(8);
            padding: mixins.scale(8);
            user-select: none;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            z-index: 99;
            background-color: vars.$white;
        }

        &-num {
            display: flex;
            justify-content: center;
            align-items: center;
            width: mixins.scale(30);
            height: 100%;
            font-size: mixins.scale(8);
            padding: mixins.scale(8);
            user-select: none;
            position: sticky;
            left: 0;
            border-left: mixins.scale(1) solid vars.$light-gray-2;
            background-color: vars.$white;
            z-index: 9;

            &:first-child {
                border-radius: mixins.scale(10) 0 0 0;
                border-top: mixins.scale(1) solid vars.$light-gray-2;
            }

            &:not(:last-child) {
                border-bottom: mixins.scale(1) solid vars.$light-gray-2;
            }

            &:last-child {
                border-radius: 0 0 0 mixins.scale(10);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;

            &.nums-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            &-item {
                width: mixins.scale(80);
                height: mixins.scale(30);
                opacity: .8;
                border: mixins.scale(1) solid vars.$light-gray-2;

                &:focus,
                &:active {
                    opacity: 1;
                    outline: mixins.scale(1) solid vars.$blue-1;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.logo-title {
    font-size: mixins.scale(14);
    font-weight: 400;
    position: relative;
    display: inline;

    &__span {
        color: vars.$blue-1;
    }
}

.version {
    opacity: .5;
    font-size: mixins.scale(8);
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 99;
}