@use "@/styles/global.scss";
@use "@/styles/vars.scss" as vars;
@use "@/styles/mixins.scss" as mixins;

.wrapper {
    min-height: 100vh;
    max-height: 100vh;
    padding: mixins.scale(10) 0;
    display: flex;
    flex-direction: column;

    .container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__content {
        max-height: calc(100vh - mixins.scale(20));
        flex-grow: 1;
        background-color: rgba(vars.$light-gray-2, .4);
        border-radius: mixins.scale(10);
        padding: mixins.scale(10);
        gap: mixins.scale(8);
        display: flex;
        flex-direction: column;
    }

    &__area {
        width: 100%;
        height: mixins.scale(20);

        &-input {
            width: 100%;
            height: 100%;
            border-radius: mixins.scale(5);
            background-color: transparent;
            border: mixins.scale(1) solid vars.$light-gray-2;
            padding: mixins.scale(2);
            font-family: "Open Sans";
            font-size: mixins.scale(8);

            &:focus {
                outline: mixins.scale(1) solid vars.$blue-1;
            }
        }
    }

    &__header {
        background-color: vars.$light-gray-1;
        border-radius: mixins.scale(10);
        padding: mixins.scale(10);
        display: flex;
        align-items: center;
        gap: mixins.scale(40);
    }

    &__main {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: auto;
        scrollbar-width: thin;
        position: relative;

        &-content {
            height: max-content;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            background-color: vars.$light-gray-1;
            border-radius: 0 mixins.scale(10) mixins.scale(10) 0;
        }
    }

    &__nums {
        position: sticky;
        left: 0;
        z-index: 9;

        &-list {
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: mixins.scale(30);
                font-size: mixins.scale(8);
                padding: mixins.scale(8);
                user-select: none;
                border-left: mixins.scale(1) solid vars.$light-gray-2;
                background-color: vars.$white;
                position: relative;
                will-change: height;

                &.active {
                    border-color: vars.$blue-1;
                    color: vars.$blue-1;
                }

                &:first-child {
                    border-radius: mixins.scale(10) 0 0 0;
                    border-top: mixins.scale(1) solid vars.$light-gray-2;
                }

                &:last-child {
                    border-radius: 0 0 0 mixins.scale(10);
                }

                &:last-child &-thin {
                    display: none;
                }

                &-thin {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: mixins.scale(1);
                    transition: height .2s;
                    background-color: vars.$light-gray-2;
                    cursor: ns-resize;
                }

                &:hover &-thin {
                    height: mixins.scale(2);
                }
            }
        }
    }

    &__cells {
        width: max-content;
        flex-grow: 1;
        display: flex;

        &-row {
            display: flex;
            flex-direction: column;
            height: max-content;
            width: mixins.scale(80);
            will-change: width;
        }

        &-row:first-child &-letter {
            border-radius: mixins.scale(10) 0 0 mixins.scale(10);
        }

        &-row:last-child &-letter {
            border-radius: 0 mixins.scale(10) mixins.scale(10) 0;

            &-thin {
                display: none;
            }
        }
        
        &-letter {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: mixins.scale(8);
            padding: mixins.scale(8);
            user-select: none;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            z-index: 99;
            background-color: vars.$white;
            margin-bottom: mixins.scale(5);

            &.active {
                border-color: vars.$blue-1;
                color: vars.$blue-1;
            }

            &-thin {
                position: absolute;
                top: 0;
                right: 0;
                width: mixins.scale(.5);
                height: 100%;
                background-color: vars.$light-gray-2;
                cursor: e-resize;
                transition: width .2s;
            }

            &:hover &-thin {
                width: mixins.scale(2);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;

            &-item {
                height: mixins.scale(30);
                opacity: .8;
                box-shadow: inset 0 0 mixins.scale(1) 0 vars.$light-gray-2;
                scrollbar-width: thin;
                overflow: auto;
                will-change: height;
                padding: mixins.scale(2);

                &.updating {
                    animation: opacity-anim .5s linear;
                }

                &:focus,
                &:active {
                    opacity: 1;
                    outline: mixins.scale(1) solid vars.$blue-1;
                }

                &:hover {
                    opacity: 1;
                }

                &.active {
                    box-shadow: inset 0 0 mixins.scale(1) 0 vars.$blue-1;
                    opacity: 1;
                }
            }
        }
    }
}

.logo-title {
    font-size: mixins.scale(14);
    font-weight: 400;
    position: relative;
    display: inline;

    &__span {
        color: vars.$blue-1;
    }
}

.version {
    opacity: .5;
    font-size: mixins.scale(8);
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 99;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}